﻿body {
    background-color: lightblue;

}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.rounded-button {border-radius: 12px;}

form {display: table;}
p span{display: table-row;}
label {display: table-cell;}
input {display: table-cell}

.container {
    width: 500px;
    clear:both;
}

.container input{
    width: 100%;
    clear:both;
}